.container {
    max-width: 350px;
    width: 100%;
    font-size: 28px;
    color: #131313;
}

.body {
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    background-color: #EBEBEB;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
    overflow: hidden;
}

.fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background-color: #CA3422;
    transform-origin: center top;
    /* transform: rotate(0.25turn); */
    transition: transform 0.3s ease-out;
}

.fill span {
    font-size: 11.5px;
    position: absolute;
    font-weight: 700;
}

.cover {
    width: 75%;
    height: 150%;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}

.numbers {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}


